html {
  font-family: var(--font-family-base), sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

table {
  width: 100%;
  table-layout: auto;
  margin: 10px auto;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: 1px solid var(--color-light-gray);
}