<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>[[${word.word}]] &dash; English Words</title>
</head>
<body>
<h1 data-th-text="${word.word}"></h1>
<a data-th-href="@{/catalogue/words/list}">&larr; The common word list</a>
<ul>
    <li><string>Word</string>: <span data-th-text="${word.word}"></span></li>
    <li><string>Definition</string>: <span data-th-text="${word.definition}"></span></li>
    <li><string>Note</string>: <span data-th-text="${word.note}"></span></li>
</ul>
</body>
</html>